  .edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5%;
        .form-title {
          padding-bottom: 10%;
        }
      .input-wrapper {
        display: flex;
        flex-direction: row;
        color: white;
        align-items: baseline;
        label {
          margin: 5px;
        }
        input {
          width: 150px;
          height: 20px;
        }
      } 
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    width: 100%;
  }
  
  .save-button,
  .cancel-button {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }


